<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar">
  <div><h1>Habit App</h1></div>
  <div class="list">
    <ul>
      <li><a href="/user/signin">Sign In</a></li>
      <li><a href="/user/signup">Sign Up</a></li>
    </ul>
  </div>
</nav>
