<link rel="stylesheet" href="/css/home.css" />
<section id="home">
  <%if(locals.user){%>
  <div id="main-habit-page">
    <div id="habit"><%-include('_habit.ejs')%></div>
    <div id="habit-form">
      <h1>Add Your Habit</h1>
      <form action="/habit/create" method="post">
        <div>
          <input
            required
            type="text"
            name="title"
            id="title"
            placeholder="Habit Title"
            autocomplete="off"
          />
        </div>
        <div>
          <input
            required
            type="time"
            name="time"
            id="time"
            placeholder="Habit Title"
            autocomplete="off"
          />
        </div>
        <div>
          <button type="submit">Add Habit</button>
        </div>
      </form>
    </div>
  </div>
  <%}else{%>
  <div id="home-signIn">
    <h1>Loved By People:</h1>
    <h1>Build For Track <span>Daily</span> Routine</h1>
    <h2>
      “I insist on a lot of time being spent, almost every day, to just sit and
      think. <br />
      That is very uncommon in American business. I read and think. So I do more
      reading and thinking, <br />and make less impulse decisions than most
      people in business. <br />
      I do it because I like this kind of life.”
    </h2>
    <p>
      <a href="/user/signUp"><button>Start Free</button></a>
    </p>
  </div>
  <%}%>
</section>
