<link rel="stylesheet" href="/css/signin.css" />
<section id="sign-in">
  <form action="/user/createSession" method="post">
    <div>
      <input required type="text" name="email" id="email" placeholder="Email" />
    </div>
    <div>
      <input
        required
        type="text"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <div>
      <button type="submit">Sign In</button>
    </div>
    <div>
      <p><a href="/user/signUp">Sign Up</a></p>
    </div>
  </form>
</section>
