.navbar {
  background-color: #00684A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  .list{
    width: 30%;
    ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        a{
            text-decoration: none;
            color: #fff;
        }
      }
  }
 
}
