#home #main-habit-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#home #main-habit-page #habit {
  width: 50%;
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home #main-habit-page #habit .habit-box {
  padding: 0.5rem 3rem;
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-bottom: 2px solid #fff;
  height: 10vh;
}

#home #main-habit-page #habit .habit-box div {
  display: flex;
  justify-content: space-between;
}

#home #main-habit-page #habit-form {
  color: #fff;
  width: 40%;
}

#home #main-habit-page #habit-form h1 {
  margin: 3rem;
}

#home #main-habit-page #habit-form form {
  position: fixed;
  right: 5%;
  top: 20%;
  background-color: #fff;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 2rem;
}

#home #main-habit-page #habit-form form div {
  width: 100%;
}

#home #main-habit-page #habit-form form div input {
  width: 90%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #023430;
  padding: 1rem 0;
}

#home #main-habit-page #habit-form form div input::placeholder {
  font-size: 1.5rem;
}

#home #main-habit-page #habit-form form div select {
  width: 90%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #023430;
  padding: 1rem 0;
}

#home #main-habit-page #habit-form form div #time {
  width: 30% !important;
}

#home #main-habit-page #habit-form form div button {
  font-size: 1.2rem;
  padding: 20px 40px;
  background-color: #00ed64;
  margin: 1rem 0;
  border-color: #00684a;
  border-width: 0.5px;
}

#home #home-signIn {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #b8c4c2;
}

#home #home-signIn h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

#home #home-signIn h1 span {
  color: #00684a;
}

#home #home-signIn h2 {
  margin: 1.5rem 0;
  font-size: 2rem;
}

#home #home-signIn a {
  text-decoration: none;
  border-color: #00684a;
}

#home #home-signIn a button {
  font-size: 2rem;
  padding: 20px 40px;
  background-color: #00ed64;
}

#home #home-signIn a button:hover {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
